.Movielist {
    margin: 20px auto;
}

.Personal {
    display: inline-block;
}

.MovielistWrapper {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
   
}

.ModalContent {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}

.ModalInfo {
    border: 1px solid grey;
}

.ModalTitle {
    color:#800000;
}

.infoLine {
    text-align: left;
}

.LoadMore {
    grid-column: 1/5;
    margin: 10px;
    text-align: center;
    justify-content: center;
    display: none;
}

.LoadMore span{
    display: inline-block;
    border : 1px solid grey;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: #800000;
    color: white;
}

.LoadMore span:hover{ 
  color : #000;
  
}

.MoreInfo {
    text-align: right;
    padding: 20px;
    color: #800000;
    cursor : pointer;
}

@media only screen and (min-width: 768px) { 
    .MovielistWrapper {
        grid-template-columns: repeat(4 , 1fr);
    }
}

@media only screen and (max-width: 1340px) { 
    .MovielistWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 980px) { 
    .MovielistWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) { 
    .MovielistWrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}