.ContactusWrapper {
  
}

.contactusContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    border: 1px solid grey;
    margin-top : 20px;

}
.Contactus {
}

.contactusText {
    padding: 10PX;
    margin: 20px;
}

.resisterMessage {
    height: 400px;
    padding: 10px;
    margin: 20px;
    margin-top: 50px;
}