.Movieinfo {
    border: 1px solid #fff;
    padding: 10px;
}

.ImageWrapper {
    position: relative;
}

.ImageWrapper::after {
    content: "";
    position: absolute;
    width: 100%;
    height:100%;
    background: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    display: none;
}

.DetailsWrapper {


}

.Info1 {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 12px;
}

.ReleaseDate {
    justify-self: start;
}

.AvgVote {
    justify-self: end;
}