.Tvshowpage {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    margin: 10px;;
}

.media {

}

.info {
    text-align: left;
}

.info span {
    
}

@media only screen and (max-width: 600px) {
    .Tvshowpage {
        display: grid;
    grid-template-columns: 1fr ;
    }

    .media img {
        width: 100%;
    }
  }