.Toolbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    align-items: center;
    justify-content: center;
    background-color: #800000;
}

.logo {
    justify-self: center;
}

.menubar {
    list-style-type: none;
    justify-self: end;
    display: grid;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .Toolbar {
        align-items: center;
        justify-content: center;
        grid-template-columns :none;
    }

    .menubar {
        margin-left: -30px;
    }
  }