.Toolbar {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 164, 164);
}

.logo {
    justify-self: center;
}

.menubar {
    list-style-type: none;
    justify-self: end;
    display: grid;
    padding: 10px;
}