.NavigationItem {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    color: #FFF;
}

.NavigationItem:hover {
    background: grey;
    color: #000;
}

.NavigationLink {
    color: #FFF;
    text-decoration: none;
}

.NavigationLink a:hover {
    color: green
}

.active {
    color: #fff;
    font-weight: 800;
    font-weight: bolder;
}