.Footer {
    background-image: url('../../assets/footer_images/award_1280.png');
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    margin: 30px 0px;
    padding-top: 20px 0px;

}

.Footer > div {
    display: grid;
    grid-template-columns: repeat(2 , 1fr)
}

@media only screen and (max-width: 600px) {
    .Footer {
        display: block;
    }
  }