.Movielist {
    margin: 20px auto;
}

.MovielistWrapper {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
   
}

@media only screen and (min-width: 768px) { 
    .MovielistWrapper {
        grid-template-columns: repeat(4 , 1fr);
    }
}