.Slider {
    width: 1368px;
	height: 513px;
	overflow: hidden;
	border: 10px solid #666;
}

.Slide {
    width : 5472px;
	height: 513px;
	overflow: hidden;
	
	/* animation duration: 16s : 5x ~3s display image + 5x ~0.2s slide */
	animation: slide 16s infinite;
	-moz-animation: slide 16s infinite;
	-webkit-animation: slide 16s infinite;
	-o-animation: slide 16s infinite;
}

.Slide img {
    float: left;
}

@keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -1368px;}
	37%{margin-left: -1368px;}
	40%{margin-left: -2736px;}
	57%{margin-left: -2736px;}
	60%{margin-left: -4104px;}
	77%{margin-left: -4104px;}
	/* 80%{margin-left: -5472px;}
	97%{margin-left: -5472px;} */
	100%{margin-left: 0px;}
}

@-moz-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -800px;}
	37%{margin-left: -800px;}
	40%{margin-left: -1600px;}
	57%{margin-left: -1600px;}
	60%{margin-left: -2400px;}
	77%{margin-left: -2400px;}
	80%{margin-left: -3200px;}
	100%{margin-left: -3200px;}
}

@-webkit-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -800px;}
	37%{margin-left: -800px;}
	40%{margin-left: -1600px;}
	57%{margin-left: -1600px;}
	60%{margin-left: -2400px;}
	77%{margin-left: -2400px;}
	80%{margin-left: -3200px;}
	100%{margin-left: -3200px;}
}

@-o-keyframes slide{
	0%{margin-left: 0px;}
	17%{margin-left: 0px;}
	20%{margin-left: -800px;}
	37%{margin-left: -800px;}
	40%{margin-left: -1600px;}
	57%{margin-left: -1600px;}
	60%{margin-left: -2400px;}
	77%{margin-left: -2400px;}
	80%{margin-left: -3200px;}
	100%{margin-left: -3200px;}
}